<body>
  <app-navbar [usuario]="usuario"></app-navbar>

  <a style="display: flex; justify-content: center; align-items: center;">Seus Personagens</a>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-10">
    <ng-container matColumnDef="upload">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Upload Image </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element.imagem; else botao" (click)="openUploadDialog(element.id)" [src]="element.imagem" alt="Image preview" width="100" height="100" />
        <ng-template #botao>
          <button mat-button (click)="openUploadDialog(element.id)">Upload Image</button>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="personagem">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Nome do personagem </th>
      <td mat-cell *matCellDef="let element"> {{ element.personagem }} </td>
    </ng-container>

    <ng-container matColumnDef="raca">
      <th mat-header-cell *matHeaderCellDef> Raça </th>
      <td mat-cell *matCellDef="let element"> {{ element.raca.raca }} </td>
    </ng-container>

    <ng-container matColumnDef="classe">
      <th mat-header-cell *matHeaderCellDef> Classe </th>
      <td mat-cell *matCellDef="let element"> {{ element.classe.classe }} </td>
    </ng-container>

    <ng-container matColumnDef="antecedente">
      <th mat-header-cell *matHeaderCellDef> Antecedente </th>
      <td mat-cell *matCellDef="let element"> {{ element.antecedente.antecedente }} </td>
    </ng-container>

    <ng-container matColumnDef="origem">
      <th mat-header-cell *matHeaderCellDef> Origem </th>
      <td mat-cell *matCellDef="let element"> {{ element.origem.origem }} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons">
          <mat-icon class="open-dialog-button" (click)="openDialog(element.id,element)">notes</mat-icon>
          <mat-icon class="open-dialog-button" (click)="atualizarFicha(element.id)">edit</mat-icon>
          <mat-icon class="delete-button" (click)="deletarFicha(element.id)">delete</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</body>
