<app-navbar [usuario]="usuario"></app-navbar>
<body>

  <a *ngIf="!visualizar; else other" style="display: flex; justify-content: center; align-items: center;">Criação de Personagem</a>
  <ng-template #other>
    <a style="display: flex; justify-content: center; align-items: center;">Edição de Personagem</a>
  </ng-template>

  <form [formGroup]="form">
    <mat-form-field class="form-field" appearance="fill">
      <input formControlName="nomePersonagem" matInput placeholder="Nome do Personagem">
      <button class="mt-10" (click)="gerarNomes()">aleatorio</button>
    </mat-form-field>
  </form>
<button mat-raised-button class="botaoVoltar center-button" (click)="openDialog()">Open Map</button>
  <form [formGroup]="form">
    <mat-form-field class="form-field" appearance="outline">
      <mat-select formControlName="raca" (selectionChange)="buscaOrigemAntecedente($event)" placeholder="Seleciona a sua Raça">
        <mat-option>Selecione</mat-option>
        <mat-option *ngFor="let raca of racas" [value]="raca">
          {{ raca.raca }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form [formGroup]="form">
    <mat-form-field class="form-field" appearance="outline">
      <mat-select formControlName="classe" (selectionChange)="buscaOrigemAntecedente($event)" placeholder="Seleciona a sua Classe">
        <mat-option>Selecione</mat-option>
        <mat-option *ngFor="let classe of classes" [value]="classe">
          {{ classe.classe }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form [formGroup]="form">
    <mat-form-field class="form-field" appearance="outline">
      <mat-select formControlName="antecedente" placeholder="Seleciona a seu Antecedente">
        <mat-option>Selecione</mat-option>
        <mat-option *ngFor="let antecedente of antecedentes" [value]="antecedente">
          {{ antecedente.antecedente }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form [formGroup]="form">
    <mat-form-field class="form-field" appearance="outline">
      <mat-select formControlName="origem" placeholder="Seleciona a sua Origem">
        <mat-option>Selecione</mat-option>
        <mat-option *ngFor="let origem of origens" [value]="origem">
          {{ origem.origem }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="botao">
    <button class="botaoVoltar" (click)="voltar()">Voltar</button>
    <button *ngIf="!visualizar; else botaoEdit" type="submit" class="botaoEnviar" (click)="submit()">Cadastrar Nova Ficha</button>
    <ng-template #botaoEdit>
      <button type="button" class="botaoEnviar" (click)="atualizarFicha()">Salvar</button>
    </ng-template>
  </div>

</body>
