<body>
  <app-navbar [usuario]="usuario"></app-navbar>

  <div class="intro-text">
    <h1>
      Bem-vindo ao nosso Background Creator
      <br>
      de Personagens de RPG!!
    </h1>

    <p>
      Este sistema foi projetado para ajudar você a criar cenários de Background para seus personagens de RPG.
      <br>
      Ao fornecer uma gama de rico, você pode aprimorar sua experiência de RPG e dar vida aos seus personagens.
      <br>
      Comece sua aventura conosco agora!
    </p>
  </div>
</body>
